# Byte-compiled / Optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / Packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# pyenv
.python-version

# Virtual environment
env/
venv/
ENV/
env.bak/
venv.bak/
.venv/

# VSCode
.vscode/

# Pydantic
.pytest_cache/

# Environments
.env

# Sistema operativo
.DS_Store
Thumbs.db

# Archivos temporales y de respaldo
*.swp
*.swo
*~
*.tmp
*.temp
*.bak

# Logs
*.log

# Directorios de archivos procesados (según tu código)
app/processed_files/
